section
  .content
    h2  Section Two
    p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
      | corporis ex neque facere aliquam, amet quae atque libero
      | accusantium! Mollitia, omnis. Qui perspiciatis sit sunt veritatis
      | nam saepe praesentium repellat!
