section.about
  .left-side
    img(src="/images/image0.png")
  .content
    h2  About Me
    p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
      | corporis ex neque facere aliquam, amet quae atque libero
      | accusantium! Mollitia, omnis. Qui perspiciatis sit sunt veritatis
      | nam saepe praesentium repellat!
