link(rel="stylesheet",href="/css/home.css")
section.container
  .home
    .right-side
      h5  Hello, I'am
      h1  Richie Zakaria
      p Junior Fullstack Web Developer
    .left-side
      img(src="/images/image0.png")
    .black-bg
