:root {
  --secondary-color: #22577a;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}
.container {
  width: 100%;
}
.home {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.right-side {
  margin: 19em 5em;
  min-width: 30%;
}
.right-side h5 {
  font-size: 1.5em;
  color: var(--secondary-color);
}
.right-side h1 {
  font-size: 3.5em;
  font-weight: 500;
  letter-spacing: 2px;
}
.left-side {
  min-width: 70%;
}
.black-bg {
  width: 100%;
  top: 0;
  left: 17em;
  z-index: -1;
  position: absolute;
  height: 261%;
  background: #000;
  transform: skew(-35deg, 193deg);
}
